# Secret key
SECRET_KEY=django-insecure-u3watqaty!eb$*s8e@k-45qe-tc=+t71!8xm^*%xi5g@a4j9yv

# Database settings
POSTGRES_PASSWORD=currency
POSTGRES_USER=currency
POSTGRES_DB=currency
POSTGRES_HOST=db
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data

# Exchange rate API key
EXCHANGE_RATE_API_KEY=your_api_key
